<!DOCTYPE html>
<html lang="en" style="--width: <%= width %>; --height: <%= height %>;">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ad Banners</title>
</head>
<body>
<div class="container container-<%= type %>">
    <main id="carousel" data-slide-index="0"
          style="background-image: url('<%= require('./config').backgroundImage %>')">
        <% require('./config').slides.forEach((slide, index) => { %>
            <section data-slide-index="<%= index %>" data-timeout="<%= slide.timeout %>"
                     style="background-color: <%= slide.backgroundColor %>;">
                <%= slide.content %>
                <div class="disclaimer"><%= require('./config').hcpDisclaimer %></div>
            </section>
        <% }) %>
    </main>
    <aside>
        <img src="<%= require('./config').content.logos.evrenzo %>" alt="Evrenzo roxadustat"/>
        <small><%= require('./config').jobCode %></small>
    </aside>
</div>
<script>window.mode = "<%= mode %>";</script>
</body>
</html>
