<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ad Banners</title>
</head>
<body>
<div class="container container-<%= type %>">
    <main id="carousel">
        <% require('./config').slides.forEach((slide, index) => { %>
            <section data-slide-index="<%= index %>" data-timeout="<%= slide.timeout %>"
                     style="background-image: <%= slide.background.image %>; background-color: <%= slide.background.color %>;">
                <%= slide.content %>
                <div class="disclaimer"><%= require('./config').disclaimer %></div>
            </section>
        <% }) %>
    </main>
    <aside>
        <img src="<%= require('./assets/logo.svg') %>" alt="Evrenzo roxadustat"/>
        <small><%= require('./config').jobCode %></small>
    </aside>
</div>
<script>
  const carousel = document.querySelector("#carousel");
  const slides = carousel.querySelectorAll("section");

  const state = {
    autoPlay: false,
    loop: false,
    // @todo change back to -1 when finished with dev work
    slideIndex: 2,
  };

  (function nextSlide () {
    state.slideIndex++;
    if (!slides[state.slideIndex]) {
      if (!state.loop) return;
      state.slideIndex = 0;
    }
    carousel.style.setProperty("--slide-index", state.slideIndex);
    if (!state.autoPlay) return;
    setTimeout(nextSlide, parseInt(slides[state.slideIndex].dataset.timeout));
  })();
</script>
</body>
</html>
