<!DOCTYPE html>
<html lang="en" style="
        --width: <%= require('./config/config')[type].width %>px;
        --height: <%= require('./config/config')[type].height %>px;
        --hcp-disclaimer-font-size: <%= require('./config/config')[type].hcpDisclaimer.fontSize %>px;
        --hcp-disclaimer-top: <%= require('./config/config')[type].hcpDisclaimer.top %>px;
        --hcp-disclaimer-left: <%= require('./config/config')[type].hcpDisclaimer.left %>px;
        --title-font-size: <%= require('./config/config')[type].titleFontSize %>px
        ">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ad Banners</title>
    <script>window.mode = "<%= mode %>";</script>
</head>
<body>
<div id="container" class="container container-<%= type %>" data-href="<%= require('./assets/pi.pdf') %>">
    <main id="carousel" data-slide-index="0"
          style="background-image: url('<%= require('./config/config').backgroundImage %>')">
        <% require('./config/config').slides[type].forEach((slide, index) => { %>
            <section data-slide-index="<%= index %>" data-timeout="<%= slide.timeout %>"
                     style="background-color: <%= slide.backgroundColor %>;">
                <%= slide.content %>
                <% if (['billboard', 'leaderboard'].includes(type)) { %>
                    <div class="hcp-disclaimer">
                        <%= require('./config/config').hcpDisclaimer %>
                    </div>
                <% } %>
            </section>
        <% }) %>
    </main>
    <aside>
        <img src="<%= require('./config/config').content.logos.evrenzo %>" alt="Evrenzo roxadustat"/>
        <div class="legal">
            <% if (['mpu', 'skyscraper', 'half-page'].includes(type)) { %>
                <div class="hcp-disclaimer">
                    <%= require('./config/config').hcpDisclaimer %>
                </div>
            <% } %>
            <small><%= require('./config/config').jobCode %></small>
        </div>
    </aside>
</div>
</body>
</html>
