<!DOCTYPE html>
<html lang="en" style="
        --width: <%= require('./config/config')[type].width %>px;
        --height: <%= require('./config/config')[type].height %>px;
        --hcp-disclaimer-font-size: <%= require('./config/config')[type].hcpDisclaimer.fontSize %>px;
        --hcp-disclaimer-top: <%= require('./config/config')[type].hcpDisclaimer.top %>px;
        --hcp-disclaimer-left: <%= require('./config/config')[type].hcpDisclaimer.left %>px;
        --title-font-size: <%= require('./config/config')[type].titleFontSize %>px
        ">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ad Banners</title>
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script>
      window.mode = "<%= mode %>";
      // If true, start function. If false, listen for INIT.
      window.onload = function() {
        if (Enabler.isInitialized()) {
          enablerInitHandler();

        } else {
          Enabler.addEventListener(studio.events.StudioEvent.INIT, enablerInitHandler);
        }
      }

      function enablerInitHandler() {

        if (Enabler.isPageLoaded()) {
          politeInit();
        } else {
          Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, politeInit);
        }
        // Start polite loading, or start animation,
        // load in your image assets, call Enabler methods,
        // and/or include other Studio modules.
      }
      function politeInit(){
        // Add your code to hide any loading image or animation and load creative
        // assets or begin creative animation.
      }
    </script>

</head>
<body>
<div id="container" class="container container-<%= type %>">
    <main id="carousel" data-slide-index="0"
          style="background-image: url('<%= require('./config/config').backgroundImage %>')">
        <% require('./config/config').slides[type].forEach((slide, index) => { %>
            <section data-slide-index="<%= index %>" data-timeout="<%= slide.timeout %>"
                     style="background-color: <%= slide.backgroundColor %>;">
                <%= slide.content %>
                <% if (['billboard', 'leaderboard'].includes(type)) { %>
                    <div class="hcp-disclaimer">
                        <%= require('./config/config').hcpDisclaimer %>
                    </div>
                <% } %>
            </section>
        <% }) %>
    </main>
    <aside>
        <img src="<%= require('./config/config').content.logos.evrenzo %>" alt="Evrenzo roxadustat"/>
        <div class="legal">
            <% if (['mpu', 'skyscraper', 'half-page'].includes(type)) { %>
                <div class="hcp-disclaimer">
                    <%= require('./config/config').hcpDisclaimer %>
                </div>
            <% } %>
            <small><%= require('./config/config').jobCode[type] %></small>
        </div>
    </aside>
</div>
</body>
</html>
